{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChairHeaters</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>
    {% endblock head %}

    {% block styles %}
    {% endblock styles %}

</head>

<body>

<!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">ChairHeaters</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/uploads/list">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uploads/create/">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Recent Uploads</h1>

                {% for obj in object_list %}
                <div class="card mb-4">
                    <div class="card-block">
                        <h2 class="card-title">{{obj.title}}</h2>
                        <p class="card-text">{{obj.description}}</p>
                        <a href="/uploads/read_more/" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">Posted on {{obj.timestamp}} by {{obj.username}} <a href="#"></a>
                    </div>
                </div>
                {% endfor %}

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    {% if object_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">&larr; Older</a></li>
                    {% endif %}
                    {% if object_list.has_next %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{ object_list.next_page_number }}">Newer &rarr;</a></li>
                    {% endif %}
                </ul>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    {% endblock content %}

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ChairHeaters</p>
        </div>
        <!-- /.container -->
    </footer>
        <!-- Bootstrap core JavaScript -->
    {% block script %}
    {% endblock script %}
    
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>
