{% extends "base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Recent Uploads</h1>

                {% for obj in object_list %}
                <div class="card mb-4">
                	<div class="card-block">
                		<h2 class="card-title">{{obj.title}}</h2>
                		<p class="card-text">{{obj.description}}</p>
                		<a href="{{obj.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
                	</div>
                    {% if obj.user.get_full_name %}
                	<div class="card-footer text-muted">Posted on {{obj.timestamp}} by {{obj.user.get_full_name}} <a href="#"></a></div>
                    {% endif %}
                </div>
                {% endfor %}

                <!-- Pagination -->
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}