{% extends "base.html" %}

{% block styles %}
<style type="text/css">
    #lol {
        padding-top: 20px; 
    }
</style>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Recent Uploads</h1>

                {% for obj in object_list %}
                <div class="card mb-4">
                	<div class="card-block">
                		<h2 class="card-title">{{obj.title}}</h2>
                		<p class="card-text">{{obj.description}}</p>
                		<a href="{{obj.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
                	</div>
                    {% if obj.user.get_full_name %}
                	<div class="card-footer text-muted">Posted on {{obj.timestamp}} by {{obj.user.get_full_name}} <a href="#"></a></div>
                    {% endif %}
                </div>
                {% endfor %}

                <!-- Pagination -->
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}&q={{request.GET.q}}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}&q={{request.GET.q}}">next</a>
                        {% endif %}
                    </span>
                </div>

            </div>

<!--              Sidebar Widgets Column 
            <div class="col-md-4">

                 Search Widget 
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-block">
                        <div class="input-group">
                            <form method="GET" action="">
                            <input type="text" class="form-control" name="q" placeholder="Search for...">
                            <span class="input-group-btn"> 
                            <input class="btn btn-secondary" type="submit" value="Go!"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <h5 class="card-header" id="lol">Search</h5>
                <div class="card-block">
                    <form method="GET" action="">
                        <input type="text" name="q" placeholder="Search" value="{{request.GET.q}}">
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}