{% extends "base.html" %}

{% block styles %}
<style type="text/css">
* {
    margin: 0;
}
html, body {
    height: 100%;
}

</style>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Recent Uploads</h1>

                {% for obj in object_list %}
                <div class="card mb-4">
                	<div class="card-block">
                		<h2 class="card-title">{{obj.title}}</h2>
                		<p class="card-text">{{obj.description}}</p>
                		<a href="{{obj.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
                	</div>
                    {% if obj.user.username %}
                	<div class="card-footer text-muted">Posted on {{obj.timestamp}} by {{obj.user.username}} <a href="#"></a></div>
                    {% else %}
                    <div class="card-footer text-muted">Posted on {{obj.timestamp}} by {{obj.username}} <a href="#"></a></div>
                    {% endif %}
                </div>
                {% endfor %}

                <!-- Pagination -->
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?page={{ object_list.previous_page_number }}&q={{request.GET.q}}" class="btn btn-primary">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                        </span>

                        {% if object_list.has_next %}
                            <a href="?page={{ object_list.next_page_number }}&q={{request.GET.q}}" class="btn btn-primary" style="margin-bottom: 15px;">next</a>
                        {% endif %}
                    </span>
                </div>

            </div>
            <div class="col-md-4">
                <h5 class="card-header" id="lol">Search</h5>
                <div class="card-block">
                    <form method="GET" action="">
                        <input type="text" name="q" placeholder="Search" value="{{request.GET.q}}">
                        <input type="submit" value="Go!">
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->
    <div style="height: 142px;"></div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-inverse" style="height: 142px;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; ChairHeaters</p>
        </div>
    </footer>


{% endblock %}